li a {
  color: green;
}
body {
  background: white url("images/background.gif") no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}
